/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 5rem;
  --font-semi: 700;
  --font-bold: 800;
}

/*===== Colours =====*/
:root {
  --first-color: #744D1B;
  --first-color-alt: #32210C;
  --second-color-alt: #e70606;
  --white-color: #FAFAFF;
  --dark-color: #101010;
  --dark-color-light: #1d1c1c;
  --gray-color: #F0F1F3;
}

:root {
  --body-font: 'Lato', sans-serif;
  --big-font-size: 12vw;
  --h1-font-size: 5vw;
  --h2-font-size: 1.25rem;
  --normal-font-size: .90rem;
  --small-font-size: .75rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 8rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
  }
}

:root {
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
}

/*===== z index =====*/
:root {
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--dark-color);
  line-height: 1.6;
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

img {
  max-width: 100%;
  height: auto;
}

/*===== CLASS CSS ===== */
.section {
  padding: 3rem 0;
}

.section-title {
  font-size: var(--h2-font-size);
  color: var(--dark-color);
  margin: var(--mb-4) 0 var(--mb-1);
  text-align: center;
}

.section-all {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi);
  color: var(--dark-color-light);
  text-align: center;
  margin-bottom: var(--mb-2);
}

/*===== LAYOUT =====*/
.bd-grid {
  display: grid;
  max-width: 1024px;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--gray-color);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    top: var(--header-height);
    right: 100%;
    width: 90%;
    height: 100%;
    padding: 2rem;
    background-color: var(--white-color);
    transition: .5s;
  }
}

.nav_item {
  margin-bottom: var(--mb-4);
}

.nav_link {
  color: var(--dark-color);
  font-weight: var(--font-semi);
}

.nav_link:hover {
  color: var(--first-color);
}

.nav_logo {
  width: 4.5rem;
}

.nav_cart {
  font-size: 2em;
  margin-right: var(--mb-2);
}

.nav_toggle {
  font-size: 2rem;
  cursor: pointer;
}

/*=== Show menu ===*/
.show {
  right: 0;
}

.active {
  color: var(--first-color);
}

/*===== HOME =====*/
.home {
  background-color: var(--gray-color);
}

.home_container {
  display: grid;
  height: calc(100vh - var(--header-height));
}

.home_data {
  padding-top: 6rem;
}

.home_title {
  align-self: center;
  font-size: var(--big-font-size);
  line-height: .6;
  letter-spacing: 2vw;
  margin-bottom: 2rem;
}

.home_title span {
  font-size: 7vw;
  letter-spacing: 1.2vw;
}

.home_img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 350px;
  height: 60%;
  margin: 0 2%;
  margin-bottom: 5vh;
}

/*BUTTONS*/
.button {
  display: inline-block;
  text-align: center;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 1rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi);
  transition: .3s;
  border-radius: .3rem;
}

.button:hover {
  background-color: var(--first-color-alt);
  letter-spacing: 2;
}

/*===== COLLECTION =====*/
.collection_container {
  margin: auto;
  row-gap: 2rem;
}

.collection_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  background-color: var(--gray-color);
}

.collection_box:hover {
  transform: translateY(-.5rem);
}

.collection_img {
  width: 30vw;
}

.collection-title {
 font-size: var(--h2-font-size);
 line-height: 1.2;
 margin-bottom: var(--mb-2);
 text-transform: uppercase;
 font-weight: var(--font-semi);
}

.collection_subtitle {
  font-size: var(--h2-font-size);
  color: var(--dark-color-light);
}

.collection_view {
  font-size: var(--small-font-size);
  color: var(--dark-color-light);
}

.collection_view:hover {
  text-decoration: underline;
}

/*===== FEATURED PRODUCTS =====*/
.featured_container {
  row-gap: 2rem;
}

.featured_product {
  transition: .3s;
}

.featured_product:hover {
  transform: translateY(-.5rem);
}

.featured_box {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--gray-color);
}

.featured_new {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--second-color-alt);
  color: var(--white-color);
  padding: .3rem .75rem;
  font-size: var(--small-font-size);
}

.featured_data {
  text-align: center;
}

.featured_name {
  margin-bottom: var(--mb-1);
  text-transform: uppercase;
  font-size: var(--normal-font-size);
}

.featured_price {
  color: var(--dark-color-light);
  font-weight: var(--font-semi);
}

/*===== OFFER =====*/
.offer_bg {
  background: url('img/offer.jpg') no-repeat center/cover;
  text-align: center;
}

.offer_data {
  padding: 3.5rem .25rem;
  background: rgba(0, 0, 0, .5);
  color: var(--white-color);
}

.offer_title {
  font-size: var(--h1-font-size);
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-weight: var(--font-semi);
}

.offer_description {
  margin-bottom: var(--mb-2);
  letter-spacing: .2rem;
}

/*===== NEW ARRIVALS =====*/
.new_container {
 row-gap: 2rem;
}

.new_box {
 position: relative;
 display: flex;
 justify-content: center;
 background-color: var(--gray-color);
 overflow: hidden;
}

.new_box:hover .new_link {
 bottom: 0;
}

.new_link {
 position: absolute;
 bottom: -100%;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 background: #744d1b10;
 transition: .3s;
}

/*===== NEWSLETTER =====*/
.newsletter {
  display: flex;
  justify-content: center;
  text-align: center;
}

.newsletter_description {
  margin-bottom: var(--mb-2);
  font-size: var(--small-font-size);
  color: var(--dark-color-light);
}

.newsletter_form {
  display: grid;
  grid-template-columns: 1fr .5fr;
}

.newsletter_input {
  outline: none;
  border: none;
  background-color: var(--gray-color);
  padding: 0 1rem;
}

/*===== SPONSORS =====*/
.sponsors_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  padding: 1.5rem 0;
}

.sponsors_logo {
  display: flex;
  justify-content: center;
}

.sponsors_logo img {
  width: 80px;
  filter:opacity(70%);
}

.sponsors_logo img:hover {
  filter: none;
}

/*===== FOOTER =====*/
.footer {
  background-color: #744d1bcc;
  color: var(--white-color);
}

.footer_container {
  row-gap: 1.5rem;
  margin-bottom: var(--mb-4);
}

.footer-title {
  margin-bottom: var(--mb-1);
}

.footer_deal {
  margin-bottom: var(--mb-2);
}

.footer_store {
  width: 100px;
}

.footer_link, .footer_social {
  color: var(--dark-color-light);
}

.footer_link:hover {
  text-decoration: underline;
}

.footer_copy {
  border-top: 1px solid var(--dark-color-light);
  padding-top: 3rem;
  text-align: center;
  color: var(--dark-color-light);
  font-size: var(--small-font-size);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section-all {
    margin-bottom: var(--mb-4);
  }

  .nav {
    height: calc(var(--header-height) + .5rem);
    justify-content: initial;
  }

  .nav_menu {
    margin-left: auto;
  }

  .nav_list {
    display: flex;
  }

  .nav_item {
    margin-left: var(--mb-4);
    margin-bottom: 0;
  }

  .nav_toggle {
    display: none;
  }

  .nav-toggle {
    display: none;
  }

  .home {
    width: 95%;
    margin: 0 auto;
  }
  
  .home_container{
    height: 100vh;
  }

  .home_data {
  margin: 0 4vw;
  padding-top: 12.5rem;
  }

  .home_title {
    align-self: center;
    font-size: var(--big-font-size);
    line-height: .4;
    letter-spacing: .25vw;
    margin-bottom: 2.5rem;
  }

  .home_title span {
    font-size: 60px;
    letter-spacing: 1.5vw;
  }

  
.home_img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 500px;
  height: 80%;
  margin: 0 6%;
  margin-bottom: 5vh;
}

  .collection_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .collection_box {
    padding: .5rem 3rem 0;
  }

  .collection_img {
    width: 20vw;
  }

  .featured_container,
  .sponsors_container,
  .footer_container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .offer_data{
    padding: 5rem 0;
  }

  .new_container {
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
  }

  .newsletter_form {
    width: 400px;
    margin: auto;

  }

  .footer_container {
    padding: 2rem 0;
    margin: auto;
  }
}

@media screen and (min-width: 1024) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home {
    max-width: 900px;
    margin: 0 auto;
  }

  .nav_logo {
    width: 20%;
  }
}
